*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

p {
  display: block;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  word-break: keep-all;
}

ul, ol {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
  -moz-padding-start: 0px;
  background: none;
  margin: 0;
  padding-left: 0;
  list-style-position: inside;
}

img {
  display: block;
  height: auto;
  margin: 0;
}

figure, figure.highlight {
  display: block;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -moz-margin-before: 0;
  -moz-margin-after: 0;
  -moz-margin-start: 0;
  -moz-margin-start: 0;
   margin: 0;
  -webkit-margin: 0;
  -moz-margin: 0;
  padding: 0;
}

pre, code {
    font-family: monospace;
    white-space: pre;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin: 0 !important;
}

input {
  outline: none;
  border:none;
  background-image:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

button, input, optgroup, select, textarea {
  /* font-family: sans-serif; */
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

* {
  margin: 0;

  -webkit-margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;

  -webkit-padding: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;

  -moz-margin: 0;
  -moz-margin-before: 0;
  -moz-margin-after: 0;
  -moz-margin-start: 0;
  -moz-margin-start: 0;

  -moz-padding: 0;
  -moz-padding-start: 0;
  -moz-padding-end: 0;
}
