main {
  display: flex;
  flex-direction: column;
}

main header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .flex-combo-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .flex-combo-table table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main .flex-combo-table table thead tr {
  display: flex;
}

main .flex-combo-table table thead tr th:nth-child(1) {
  flex: 1 1 auto;
}

main .flex-combo-table table thead tr th:nth-child(2) {
  flex: 1 1 auto;
}

main .flex-combo-table table thead tr th:nth-child(3) {
  flex: 1 1 auto;
}

main .flex-combo-table table thead tr th:nth-child(4) {
  flex: 1 1 auto;
}

main .flex-combo-table table thead tr th:nth-child(5) {
  flex: 1 1 auto;
}

main .flex-combo-table table tbody tr {
  display: flex;
  align-items: center;
}

main .flex-combo-table table tbody tr td:nth-child(1) {
  flex: 1 1 auto;
}

main .flex-combo-table table tbody tr td:nth-child(2) {
  flex: 1 1 auto;
}

main .flex-combo-table table tbody tr td:nth-child(3) {
  flex: 1 1 auto;
}

main .flex-combo-table table tbody tr td:nth-child(4) {
  flex: 1 1 auto;
}

main .flex-combo-table table tbody tr td:nth-child(5) {
  flex: 1 1 auto;
}
