main
  display: flex
  flex-direction: column


  header
    display: flex
    flex-direction: column
    align-items: center

    padding: 2rem 0


  .flex-combo-table
    display: flex
    flex-direction: column
    align-items: center

    table
      display: flex
      flex-direction: column

      --flex-row: 1 1 20%
      --flex-value: 1 1 20%
      --flex-info: 1 1 20%

      --b-10: #86c3fa
      --b-20: #57abf5
      --b-30: #3095ed
      --b-40: #1382e4
      --b-50: #0071d7
      --b-60: #0068c7

      width: 100%

      thead

        tr
          display: flex

          th:nth-child(1)
            flex: var(--flex-row)
            background-color: var(--b-10)

          th:nth-child(2)
            flex: var(--flex-value)
            background-color: var(--b-20)

          th:nth-child(3)
            flex: var(--flex-value)
            background-color: var(--b-30)

          th:nth-child(4)
            flex: var(--flex-value)
            background-color: var(--b-40)

          th:nth-child(5)
            flex: var(--flex-info)
            background-color: var(--b-50)


      tbody

        tr
          display: flex
          align-items: center

          td
            display: flex
            justify-content: center

          td:nth-child(1)
            flex: var(--flex-row)
            background-color: var(--b-10)

          td:nth-child(2)
            flex: var(--flex-value)
            background-color: var(--b-20)

          td:nth-child(3)
            flex: var(--flex-value)
            background-color: var(--b-30)

          td:nth-child(4)
            flex: var(--flex-value)
            background-color: var(--b-40)

          td:nth-child(5)
            flex: var(--flex-info)
            background-color: var(--b-50)


  .flex-examples
    display: flex
    flex-flow: column nowrap

    padding: 1rem

    background-color: var(--flex-container)

    --flex-container: #5e65ae
    --flex-item: #8eb5e0
    --flex-header: black

    .example
      padding: 2rem 0

      .description
        padding: 1rem 0
        color: var(--flex-header)

      .code
        display: flex
        flex-flow: row nowrap

        section
          padding: 1rem

          background-color: var(--flex-item)

    .example:nth-of-type(1)
      section
        flex: 0 0 0


    .example:nth-of-type(2)
      .code
        section
          flex: 0 0 200px


    .example:nth-of-type(3)
      .code
        section
          flex: 1 0 0

    .example:nth-of-type(4)
      .code
        section
          flex: 1 0 200px

    .example:nth-of-type(5)
      .code
        section
          flex: 0 1 0

    .example:nth-of-type(6)
      .code
        section
          flex: 0 1 200px

    .example:nth-of-type(7)
      .code
        section
          flex: 1 1 0

    .example:nth-of-type(8)
      .code
        section
          flex: 1 1 200px

    .example:nth-of-type(9)
      .code
        section
          flex: 2 1 0

    .example:nth-of-type(10)
      .code
        section
          flex: 2 1 200px

    .example:nth-of-type(11)
      .code
        section
          flex: 1 2 0

    .example:nth-of-type(12)
      .code
        section
          flex: 1 2 200px


  .flex-calculator
    display: flex
    flex-flow: column nowrap

    min-height: 100vh

    padding: 2rem 0

    background-color: var(--b-60)

    --b-10: #86c3fa
    --b-20: #57abf5
    --b-30: #3095ed
    --b-40: #1382e4
    --b-50: #0071d7
    --b-60: #0068c7


    header

      h3
        align-self: center

    .flex-values
      align-self: center
      padding: 1rem

      font-weight: 700


      .flex-values-formula
        display: flex
        flex-flow: row nowrap

        .flex-operand
          display: flex
          flex-flow: column nowrap
          align-items: center

          padding: 0 .5rem



          span
            flex: 1 1 auto
            font-size: 2.5rem

            &:nth-child(2)
              font-size: 1rem




    .flex-form
      align-self: center
      padding: 1rem

    form
      display: flex
      flex-direction: column

      label
        display: flex
        flex-flow: row nowrap
        align-items: center

        padding: 1rem 0

        h4
          flex: 1 0 auto

        input
          border-bottom: 2px solid transparent
          font-size: 2rem
          outline: 0
          margin: 0 1rem
          text-align: center
          width: 6rem
          padding: .5rem
          background-color: transparent

          &::selection,
          &::-moz-selection
           background: transparent

          &:focus,
          &:hover
            border-bottom: 2px solid white

        input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button
          -webkit-appearance: none
          margin: 0

        input[type="number"]
          -moz-appearance: textfield

      button
        padding: .5rem
        border-radius: 5px
        background-color: white

    .flex-container
      display: flex
      flex-flow: row nowrap

      min-height: 15rem

      background-color: var(--b-30)

      .flex-item
        // flex: 1 1 100px
        flex-flow: column nowrap
        text-align: center
        background-color: var(--b-10)

        padding: 1rem 0

        &:nth-of-type(even)
          background-color: var(--b-20)


        h4
          font-size: 3rem
          font-weight: 500



        .item-values
          display: flex
          flex-flow: column nowrap
          align-items: center
          justify-items: center

          padding: 1rem

          section
            display: flex

            padding: .25rem 0

            &:nth-of-type(3)

              button
                opacity: 0

          input
            border: none
            border-radius: 5px
            outline: 0
            margin: 0 1rem
            text-align: center
            width: 6rem
            padding: .5rem
            background-color: transparent

          input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button
            -webkit-appearance: none
            margin: 0

          input[type="number"]
            -moz-appearance: textfield

        .remove-item-button

        .item-flexulations
          font-size: 1rem
          font-weight: 400

          .flex-grow-flexulations
            padding: 1rem 0 .5rem 0

          .flex-shrink-flexulations
            padding: .5rem 0

.flex-calculations
  display: flex


  section
    flex: 1 1 50%
    text-align: center

    h3
      color: white


  .flex-grow-math, .flex-shrink-math
    font-size: 1.5rem
