body {
  --console-60-black: #0c0c0d;
  --console-50-black: #1b1b1d;
  --console-45-gray: #404041;
  --console-40-gray: #4a4a4f;
  --console-30-gray: #939395;
  --console-27-gray: #929294;
  --console-25-gray: #808080;
  --console-20-gray: #b1b1b3;
  --console-15-gray: #cacad2;
  --console-10-gray: #e0e0e2;
  --console-06-gray: #f9f8fb;
  --console-05-gray: #ededf0;
  --console-04-gray: #edecf0;
  --console-30-purple: #a300ff;
  --console-60-blue: #163b61;
  --console-40-blue: #1780ea;
  --console-35-blue: #5dc6fa;
  --console-33-blue: #0089d2;
  --console-30-blue: #0c74dd;
  --console-20-blue: #0ba2ff;
  --console-15-blue: #75bfff;
  --console-10-blue: #cbe8ff;
  --console-60-pink: #541a4d;
  --console-30-pink: #dd00a9;
  --console-20-pink: #fe75f9;
  --console-10-pink: #fbdef4;
}

main {
  display: flex;
  flex-direction: column;
}

main .flexulator-title {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  background-color: var(--console-06-gray);
  border-top: 3px solid var(--console-10-gray);
  border-bottom: 3px solid var(--console-10-gray);
  color: var(--console-60-black);
}

@media (max-width: 600px) {
  main .flexulator-title {
    flex-direction: column;
  }
}

main .flexulator-title h1 {
  flex: 1;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: -.1rem;
  font-weight: 700;
}

main .flexulator-title a {
  position: absolute;
  padding: 0 1rem;
  right: 0;
  top: 1rem;
}

main .flexulator-title iframe {
  position: absolute;
  padding: 0 1rem;
  right: 0;
  top: 1rem;
}

@media (max-width: 600px) {
  main .flexulator-title iframe {
    position: relative;
  }
}

main .flexulator-container {
  min-height: 100vh;
}

main .flex-calculator {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  padding: 0;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAF0lEQVQImWNgQAILGf5vZsAGqChBOwAAeoAJTfR0/MoAAAAASUVORK5CYII=) repeat;
}

main .flex-calculator .flex-values {
  align-self: center;
  padding: 6rem 0 1rem 0;
  font-weight: 700;
  width: 100vw;
}

main .flex-calculator .flex-values .flex-values-formula {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

main .flex-calculator .flex-values .flex-values-formula span {
  font-size: calc(22px + (55 - 22) * ((100vw - 300px) / (1600 - 300)));
}

main .flex-calculator .flex-values .flex-values-formula .flex-operand {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0 .5rem;
  color: var(--console-50-black);
  font-weight: 700;
  background-color: white;
  border: 1px solid #a300ff;
}

main .flex-calculator .flex-values .flex-values-formula .flex-operand span {
  flex: 1 1 auto;
  font-size: calc(22px + (55 - 22) * ((100vw - 300px) / (1600 - 300)));
}

main .flex-calculator .flex-values .flex-values-formula .flex-operand span:nth-child(2) {
  font-weight: 400;
  font-size: calc(12px + (32 - 22) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
}

main .flex-calculator .flex-form {
  align-self: center;
  padding: 1rem;
}

main .flex-calculator .flex-form form {
  display: flex;
  flex-direction: column;
}

main .flex-calculator .flex-form form label {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: var(--console-40-blue);
  background-color: white;
  border: 1px solid #a300ff;
  padding: .5rem 2rem;
}

main .flex-calculator .flex-form form label:nth-of-type(2) {
  border-top: 1px solid transparent;
}

main .flex-calculator .flex-form form label:nth-of-type(3) {
  border-top: 1px solid transparent;
}

main .flex-calculator .flex-form form label:nth-of-type(3) input {
  width: 8rem;
}

main .flex-calculator .flex-form form label:last-of-type {
  border-top: 0px solid transparent;
  padding: 0;
}

main .flex-calculator .flex-form form label h4 {
  flex: 1 0 auto;
  font-weight: 700;
  font-size: calc(22px + (46 - 22) * ((100vw - 300px) / (1600 - 300)));
  text-transform: lowercase;
  font-weight: 400;
}

main .flex-calculator .flex-form form label input {
  padding: .5rem;
  margin: 0 1rem;
  width: 8rem;
  background-color: transparent;
  border-bottom: 2px dashed transparent;
  outline: 0;
  color: var(--console-30-pink);
  font-size: 2.5rem;
  text-align: center;
  transition: border-bottom .1s ease-in, background-color .15s ease-in;
}

main .flex-calculator .flex-form form label input::selection, main .flex-calculator .flex-form form label input::-moz-selection {
  background: transparent;
}

main .flex-calculator .flex-form form label input:focus, main .flex-calculator .flex-form form label input:hover {
  border-bottom: 1px solid #444444;
  background-color: var(--console-10-blue);
  border-bottom: 2px dashed var(--console-30-blue);
}

main .flex-calculator .flex-form form label input[type="number"]::-webkit-outer-spin-button, main .flex-calculator .flex-form form label input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main .flex-calculator .flex-form form label input[type="number"] {
  -moz-appearance: textfield;
}

main .flex-calculator .flex-form form button {
  padding: 1.5rem 2rem;
  width: 100%;
  height: 100%;
  color: var(--console-50-black);
  text-transform: uppercase;
  text-transform: lowercase;
  transition: background-color .15s ease-in, border .15s ease-in, color .15s ease-in;
}

main .flex-calculator .flex-form form button:hover, main .flex-calculator .flex-form form button:focus {
  background-color: var(--console-40-blue);
  color: white;
}

main .flex-calculator .flex-form form button h5 {
  font-weight: 400;
  font-size: calc(22px + (32 - 22) * ((100vw - 300px) / (1600 - 300)));
}

main .flex-calculator .flex-container {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  animation: fadeItems .3s ease-in;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAFUlEQVQImWNgQAKLGf6nkcphYGAAABQDCCEc2tDBAAAAAElFTkSuQmCC) repeat;
}

@media (max-width: 600px) {
  main .flex-calculator .flex-container {
    flex-flow: column nowrap;
  }
}

@keyframes fadeItems {
  0% {
    opacity: 0;
    transform: translateY(2.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

main .flex-calculator .flex-container .flex-item {
  flex-flow: column nowrap;
  text-align: center;
  background-color: var(--console-10-blue);
  background-clip: padding-box;
  color: var(--console-dark-black);
  padding: 0;
  width: auto;
  opacity: 1;
  transition: width .5s ease-in, flex .5s ease-in, opacity .1s ease-out;
  position: relative;
  z-index: 100;
}

main .flex-calculator .flex-container .flex-item::before {
  position: absolute;
  content: '';
  border: 5px dotted var(--console-20-blue);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -10;
}

main .flex-calculator .flex-container .flex-item > * {
  opacity: 1;
  transition: opacity .1s ease-out;
}

@keyframes addItem {
  0% {
    visibility: hidden;
    opacity: 0;
    flex: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
    flex: auto;
  }
}

main .flex-calculator .flex-container .flex-item h4 {
  padding: 1rem 0;
  color: var(--console-40-blue);
  font-size: 3rem;
  font-weight: 700;
}

main .flex-calculator .flex-container .flex-item .item-values {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  z-index: -100;
}

main .flex-calculator .flex-container .flex-item .item-values section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: .25rem 0;
}

main .flex-calculator .flex-container .flex-item .item-values section:hover button:first-child {
  opacity: 1;
  animation: slideInRight .15s ease-in forwards;
}

main .flex-calculator .flex-container .flex-item .item-values section:hover button:last-child {
  animation: slideInLeft .15s ease-in forwards;
}

main .flex-calculator .flex-container .flex-item .item-values section:hover input {
  border-bottom: 2px dashed var(--console-25-gray);
  opacity: 1;
}

@keyframes slideInRight {
  0% {
    transform: translateX(-0.15rem);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(0.15rem);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

main .flex-calculator .flex-container .flex-item .item-values section:nth-of-type(3) button {
  opacity: 0;
  visibility: hidden;
  display: none;
}

main .flex-calculator .flex-container .flex-item .item-values input {
  width: 5rem;
  padding: .5rem;
  margin: 0 1rem;
  border-bottom: 2px dashed transparent;
  background-color: transparent;
  outline: 0;
  color: var(--console-30-pink);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  transition: border-bottom .15s ease-in, opacity .15s ease-in;
}

main .flex-calculator .flex-container .flex-item .item-values input:hover {
  border-bottom: 2px dashed var(--console-25-gray);
}

main .flex-calculator .flex-container .flex-item .item-values .item-basis {
  width: 7rem;
}

main .flex-calculator .flex-container .flex-item .item-values input[type="number"]::-webkit-outer-spin-button, main .flex-calculator .flex-container .flex-item .item-values input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main .flex-calculator .flex-container .flex-item .item-values input[type="number"] {
  -moz-appearance: textfield;
}

main .flex-calculator .flex-container .flex-item .item-values button {
  align-items: center;
  height: 25px;
  width: 25px;
  opacity: 0;
  transition: opacity .1s ease-in;
}

main .flex-calculator .flex-container .flex-item .item-values button:hover .increment-grow-value::after {
  animation: slideInRight .2s ease-in forwards;
}

main .flex-calculator .flex-container .flex-item .item-values .increment-grow-value::after, main .flex-calculator .flex-container .flex-item .item-values .increment-shrink-value::after {
  content: "+";
  position: relative;
  left: 0;
  bottom: 3px;
  color: var(--console-50-black);
}

main .flex-calculator .flex-container .flex-item .item-values .decrement-grow-value::after, main .flex-calculator .flex-container .flex-item .item-values .decrement-shrink-value::after {
  content: "-";
  position: relative;
  left: 0;
  bottom: 6px;
  color: var(--console-50-black);
}

main .flex-calculator .flex-container .flex-item .remove-item-button {
  padding: 1rem;
  margin: 1.5rem 0;
  background-color: var(--console-10-pink);
  background-clip: padding-box;
  border: 2px dotted var(--console-30-pink);
  color: black;
  font-weight: 400;
  transform: scale(1);
  transition: background-color .15s ease-in, color .15s ease-in, transform .15s ease-in;
}

main .flex-calculator .flex-container .flex-item .remove-item-button:hover, main .flex-calculator .flex-container .flex-item .remove-item-button:focus {
  background-color: var(--console-30-pink);
  color: white;
}

main .flex-calculator .flex-container .flex-item .item-flexulations {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -.09rem;
}

main .flex-calculator .flex-container .flex-item .item-flexulations h5 {
  letter-spacing: 0;
}

main .flex-calculator .flex-container .flex-item .item-flexulations .flex-grow-flexulations {
  padding: 1rem 0 .5rem 0;
}

main .flex-calculator .flex-container .flex-item .item-flexulations .flex-shrink-flexulations {
  padding: .5rem 0;
}

.formula-container {
  background-color: var(--console-50-black);
}

.formula-container .formula-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  background-color: var(--console-60-black);
  border-top: 3px solid var(--console-45-gray);
  border-bottom: 3px solid var(--console-45-gray);
  color: white;
}

.formula-container .formula-title h1 {
  font-size: 5rem;
  text-align: center;
}

.formula-container .flex-calculations {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  padding: 5.5rem 0;
}

@media (max-width: 1200px) {
  .formula-container .flex-calculations {
    flex-direction: column;
  }
}

.formula-container .flex-calculations section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.formula-container .flex-calculations section h2 {
  padding: 1.5rem 0;
  width: 50%;
  align-self: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .15rem;
}

.formula-container .flex-calculations .flex-grow-math {
  color: var(--console-35-blue);
}

.formula-container .flex-calculations .flex-grow-math h2 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAF0lEQVQImWNgQAILGf5vZsAGqChBOwAAeoAJTfR0/MoAAAAASUVORK5CYII=) repeat;
  border: 1px solid var(--console-30-purple);
}

.formula-container .flex-calculations .flex-grow-math p {
  border: 1px solid var(--console-30-purple);
}

.formula-container .flex-calculations .flex-grow-math p + p {
  border-top: none;
}

.formula-container .flex-calculations .flex-shrink-math {
  color: var(--console-20-pink);
}

.formula-container .flex-calculations .flex-shrink-math h2 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAF0lEQVQImWNgQAKxx35uZsAGqChBOwAAnx8LPVdV3HMAAAAASUVORK5CYII=) repeat;
  border: 1px solid var(--console-35-blue);
}

.formula-container .flex-calculations .flex-shrink-math p {
  border: 1px solid var(--console-35-blue);
}

.formula-container .flex-calculations .flex-shrink-math p + p {
  border-top: none;
}

.formula-container .flex-calculations .flex-grow-math, .formula-container .flex-calculations .flex-shrink-math {
  flex: 1 1 50%;
  padding: 0 4.5rem;
  font-size: inherit;
}

.formula-container .flex-calculations .flex-grow-math section, .formula-container .flex-calculations .flex-shrink-math section {
  padding: 3rem 0;
}

.formula-container .flex-calculations .flex-grow-math .grow-formula-text, .formula-container .flex-calculations .flex-shrink-math .grow-formula-text {
  padding: 1.5rem 0;
}

.formula-container .flex-calculations .flex-grow-math .grow-formula-text h4, .formula-container .flex-calculations .flex-shrink-math .grow-formula-text h4 {
  padding: 2rem 0 1.25rem 0;
}

.formula-container .flex-calculations .flex-grow-math p, .formula-container .flex-calculations .flex-shrink-math p {
  padding: 1.5rem 0;
}

@keyframes widthAdjust {
  0% {
    max-width: 100%;
    max-height: 100%;
    flex: auto;
    opacity: 1;
  }
  100% {
    max-width: -100%;
    max-height: -100%;
    flex: 0;
    visibility: hidden;
    opacity: 0;
  }
}

.removing-item {
  animation: widthAdjust .5s ease-out;
}

.learn-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.learn-more .read-more-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  padding: 2rem 0;
  background-color: var(--console-06-gray);
  border-top: 3px solid var(--console-10-gray);
  border-bottom: 3px solid var(--console-10-gray);
  color: var(--console-60-black);
}

.learn-more .read-more-title h1 {
  flex: 1;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: -.1rem;
  font-size: 5rem;
  font-weight: 700;
}

.learn-more h3 {
  padding: 2rem 0 .5rem 0;
}

.learn-more ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.learn-more ul:first-of-type {
  padding: 4rem 0;
}

.learn-more ul li {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 1rem 0;
}

.learn-more ul li:last-child {
  padding: 1rem 0 3rem 0;
}

.learn-more ul li .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12.5px 0 12.5px 10px;
  border-color: transparent transparent transparent var(--console-30-gray);
}

.learn-more ul li a {
  margin: 0 0 0 1.5rem;
  color: var(--console-40-blue);
  text-decoration: none;
  border-bottom: 2px dashed transparent;
}

.learn-more ul li a:hover, .learn-more ul li a:focus {
  border-bottom: 2px dashed var(--console-10-gray);
}
