@import '../config/variables';

@mixin viewport-min($viewport-width) {
  @media (min-width: $viewport-width) {
    @content;
  }
}


@mixin flex-item-input() {
  width: 5rem;
  
  border-bottom: 2px dashed transparent;
  background-color: transparent;
  outline: 0;

  color: $pink-3;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;

}

@mixin input-number() {
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@mixin flex-item-button() {
  align-items: center;
  width: 1rem;
  height: 1rem;
  position: relative;
  left: 0;
  top: 0;
}


@mixin flex-item-increment() {
  background-image: url('../img/increment-button.svg');
  background-repeat: no-repeat;
  background-position: center;
}

@mixin flex-item-decrement() {
  background-image: url('../img/decrement-button.svg');
  background-repeat: no-repeat;
  background-position: center;
}

@mixin flex-item-flexulations-container() {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -.09rem;
}
