@import '../config/variables';

@mixin viewport-min($viewport-width) {
  @media (min-width: $viewport-width) {
    @content;
  }
}


@mixin flex-item-input() {
  width: 5rem;
  padding: .5rem .5rem 0 .5rem;
  margin: 0 1rem;
  border-bottom: 2px dashed transparent;
  background-color: transparent;
  outline: 0;

  color: $pink-3;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;

  &:hover,
  &:focus {
    border-bottom: 2px dashed var(--console-25-gray);
  }

  transition: border-bottom .15s ease-in, opacity .15s ease-in;
}

@mixin input-number() {
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@mixin flex-item-button() {
  align-items: center;
  height: 25px;
  width: 25px;
  opacity: 0;
  transition: opacity .1s ease-in;
}


@mixin flex-item-increment-icon() {
  content: "+";
  position: relative;
  left: 0;
  bottom: 3px;
  color: $black-5;
}

@mixin flex-item-increment-icon() {
  content: "-";
  position: relative;
  left: 0;
  bottom: 6px;
  color: $black-5;
}

@mixin flex-item-flexulations-container() {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -.09rem;
}
