$mobile: 37.5rem;

$white: #ffffff;

$black-5: #1b1b1d;
$black-1: #000000;

$gray-4: #444444;

$purple-3: #a300ff;

$pink-3: #dd00a9;


$blue-4: #1780ea;
$blue-3: #0c74dd;
$blue-1: #cbe8ff;


// --console-60-black: #0c0c0d;
// --console-45-gray: #404041;
// --console-40-gray: #4a4a4f;
// --console-30-gray: #939395;
// --console-27-gray: #929294;
// --console-25-gray: #808080;
// --console-20-gray: #b1b1b3;
// --console-15-gray: #cacad2;
// --console-10-gray: #e0e0e2;
// --console-06-gray: #f9f8fb;
// --console-05-gray: #ededf0;
// --console-04-gray: #edecf0;
// --console-30-purple: #a300ff;
// --console-60-blue: #163b61;
// --console-40-blue: #1780ea;
// --console-35-blue: #5dc6fa;
// --console-33-blue: #0089d2;
// --console-30-blue: #0c74dd;
// --console-20-blue: #0ba2ff;
// --console-15-blue: #75bfff;
// --console-10-blue: #cbe8ff;
// --console-60-pink: #541a4d;
// --console-30-pink: #dd00a9;
// --console-20-pink: #fe75f9;
// --console-10-pink: #fbdef4;
