@import '../config/mixins';
@import '../config/variables';

.flexulator__form {
  display: none;


  @include viewport-min(1000px) {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    width: 100%;
  }

  &-wrapper {
    display: grid;
    grid-template-areas: "artwork" "form" "buttons";
    width: 50%;

    margin: 1rem 0;

    @include viewport-min(2000px) {

    }
  }

  &-artwork {
    grid-area: artwork;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    max-width: 65%;
    width: 100%;
    height: 0;
    padding-top: 0;
    position: relative;
    justify-self: center;

    @include viewport-min(1200px) {
      max-width: 63%;
    }

    @include viewport-min(1500px) {
      max-width: 60%;
    }

    @include viewport-min(2000px) {
      max-width: 55%;
    }
  }


  &-container {
    grid-area: form;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    z-index: 10;
    width: 65%;
    justify-self: center;
    padding: 8% 0;

    @include viewport-min(1000px) {
      padding: 8% 0;
      width: 40%;
    }

    @include viewport-min(1500px) {
      padding: 8% 0;
      width: 35%;
    }

    @include viewport-min(2000px) {
      padding: 8% 0;
      width: 30%;
    }
  }

  &-label {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: $blue-4;

    &:nth-of-type(2),
    &:nth-of-type(3) {
      border-top: 1px solid transparent;
    }

    &:nth-of-type(3) input {
      width: 6rem;
    }

    &:last-of-type {
      border-top: 0px solid transparent;
      padding: 0;
    }
  }

  &-header {
    flex: 1 0 auto;
    font-weight: 700;
    font-size: calc(12px + (34 - 12) * ((100vw - 300px) / (1600 - 300)));
    text-transform: lowercase;
    font-weight: 400;
  }

  &-input {
    padding: .1rem;
    margin: 0 1rem;
    width: 4.5rem;
    background-color: transparent;
    border-bottom: 2px dashed transparent;
    outline: 0;
    color: $pink-3;
    font-size: calc(12px + (34 - 12) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    transition: border-bottom .1s ease-in, background-color .15s ease-in;

    &::selection,
    &::-moz-selection {
      background: transparent;
    }

    &:focus,
    &:hover {
      border-bottom: 1px solid $gray-4;
      background-color: $blue-1;
      border-bottom: 2px dashed $blue-3;
    }

    @include viewport-min(1200px) {
      width: 6rem;
    }

  }

  &-input[type="number"] {
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &-label-button {
    padding: .15rem 0rem;
    width: 89%;
    margin: 0 auto;
    height: 100%;
    color: $black-5;
    text-transform: uppercase;
    text-transform: lowercase;
    transition: background-color .15s ease-in, border .15s ease-in, color .15s ease-in;

    border-radius: .67rem;
    background-color: $gray-3;
    border: 2px solid $gray-7;

    color: $black-6;
    text-transform: lowercase;

    transition: background-color .25s ease;

    &:hover,
    &:focus {
      background-color: $gray-8;
    }

    @include viewport-min(1300px) {
      width: 100%;
      padding: .5rem 0rem;
    }
  }

  &-label-button-text {
    font-weight: 400;
    font-size: calc(18px + (32 - 18) * ((100vw - 300px) / (1600 - 300)));
  }
}


.flexulator__items-container-buttons {
  grid-area: buttons;
  justify-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 2% 0;
  width: 60%;

  z-index: 10;
}

.flexulator__items-container-grow-button,
.flexulator__items-container-shrink-button {
  padding: 0 4%;
  margin: 0 4%;


  border-radius: .67rem;
  background-color: $gray-3;
  border: 2px solid $gray-7;

  color: $black-6;
  text-transform: lowercase;

  transition: background-color .25s ease;

  &:hover,
  &:focus {
    background-color: $gray-8;
  }
}
