@import '../config/mixins';
@import '../config/variables';

.formula {

  &__tabs-container {}

  &__tabs-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    border-top: 3px solid $gray-1;
    border-bottom: 3px solid $gray-1;

    @include viewport-min(43rem) {
      border-top: 5px solid $gray-1;
      border-bottom: 5px solid $gray-1;
    }
  }

  &__tabs-button {
    flex: 1;
    height: 4rem;
    background-color: $gray-2;
    text-align: center;
    display: inline-block;
    position: relative;

    @include viewport-min(43rem) {
      height: 8rem;
    }

    &:after {
      display: block;
      content: '';
      border-top: solid 3px $gray-6;
      transform: scaleX(0);
      transition: transform .1s ease-in-out;

      @include viewport-min(43rem) {
        border-top: solid 5px $gray-6;
      }
    }

    &:hover {
      background-color: $gray-3;
    }

    &:hover:after {
      transform: scaleX(1);
    }

    &.is-active {
      color: $blue-4;
    }

    &.is-active:after {
      border-top: solid 3px $blue-4;
      transform: scaleX(1) !important;

      @include viewport-min(43rem) {
        border-top: solid 5px $blue-4;
      }
    }
  }

  &__tabs-button-link {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
  }

  &__tabs-button-link-text {
    font-size: calc(26px + (60 - 26) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Roboto';
    font-weight: 100;

  }

  &__tabs-content-container {
    padding: 5% 0;

    @include viewport-min($desktop) {

    }
  }


  &__tab-content {
    display: none;

    &.is-active {
      display: block;
    }
  }

  &__formula-section {
    padding: 2% 0;

    font-size: inherit;
    text-align: center;

    @include viewport-min($mobile) {

    }

  }


  &__grow-container {

  }
}

.example-formula {

  &__formula-container {
    width: auto;
    margin: 5% auto;
  }

  &__formula-section {
    display: grid;
    grid-template-areas: "header" "statement";
    grid-template-rows: 1fr 1.25fr;

    padding: 0 0 0 0;

    margin: 0 auto 2% auto;
    width: 100%;

    border: 2px solid $black-1;
    border-left: 0;
    border-right: 0;

    font-family: 'Roboto';
    font-weight: 400;


    @include viewport-min(45rem) {
      width: 89%;
      border: 2px solid $black-1;
    }

    @include viewport-min(75rem) {
      width: 55%;
    }
  }

  &__formula-header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "number container" "number container";
    width: 100%;

    &-number {
      grid-area: number;
      display: flex;
      justify-content: center;
      align-items: center;

      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAF0lEQVQImWNgQAILGf5vZsAGqChBOwAAeoAJTfR0/MoAAAAASUVORK5CYII=) repeat, $pink-1;
      border: 2px solid $black-1;
      border-top: 0;
      border-left: 0;

      color: $black-1;
      font-size: calc(26px + (68 - 26) * ((100vw - 300px) / (1600 - 300)));
    }

    &-container {
      grid-area: container;
      display: flex;
      flex-direction: column;
    }

    &-title {
      flex: .5;
      padding: 1.5%;

      background-color: $pink-1;
      border-bottom: 2px solid $black-1;

      color: $pink-3;
      text-align: left;

    }

    &-details {
      flex: 1;
      padding: 1.5%;

      border-bottom: 2px solid $black-1;

      text-align: left;
      font-family: 'Roboto';
      font-weight: 400;
    }
  }

  &__formula-statement {
    grid-area: statement;
    display: flex;
    justify-content: center;
    align-content: center;

    width: 100%;
    padding: 1.5%;
    margin: 0 auto;

    color: $gray-9;
  }

  &__section-note {
    padding: 2% 0;
    color: $black-1;
  }

  &__description-container {
    width: 89%;
    margin: 5% auto;

    text-align: left;

    @include viewport-min(43rem) {
      width: 55%;
    }
  }


  &__description {
    font-family: 'Roboto';
    font-weight: 400;

    font-size: calc(12px + (32 - 12) * ((100vw - 300px) / (1600 - 300)));
    line-height: 125%;
  }


  &__section-header-container {
    color: $pink-3;
    background-color: $pink-1;
    border: 2px solid black;
    padding: 1.5% 0%;
  }

  &__section-header-ordinal {
    text-align: left;
  }

  &__section-header-description {
    text-align: left;

    border: 2px solid black;
    border-top: 0;
  }

  &__section-formula-operand {
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex: 1;
    padding: 1.5%;

    border: 2px solid black;
    background-color: $blue-1;

    text-transform: uppercase;
    font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1600 - 300)));

  }

  &__section-formula-operator {
    align-self: center;
    padding: 2.5% 3%;
    text-transform: uppercase;
    font-size: calc(26px + (38 - 26) * ((100vw - 300px) / (1600 - 300)));
  }

  &__section-formula-property {
    color: $black-1;
    font-weight: 800;
  }
  &__section-formula-value {
    font-weight: 400;

    padding: 1.75% 0;
  }
}


.grow-animation {

  width: 69%;
  margin: 0 auto;

  &__container {
    display: flex;

    background-color: $pink-1;
    border: 2px solid black;

    z-index: 1000;

  }
  &__item {
    width: 7rem;
    height: 7rem;
  }

  &__item-box {
    height: 100%;

    background-color: $blue-1;
    border: 5px dotted $blue-2;

    z-index: 100;
  }
}


.shrink-animation {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;


  &__container {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    width: 69%;
    margin: 0 auto;

    background-color: $pink-1;
    border: 2px solid black;

    height: 7rem;

    z-index: 10;

  }

  &__items {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: flex;
    justify-content: center;
    width: 75%;
    margin: 0 auto;

    z-index: 100;
    opacity: .5;
  }

  &__item {
    width: 33.33%;
    height: 7rem;
  }

  &__item-box {
    height: 100%;

    background-color: $blue-1;
    border: 5px dotted $blue-2;
  }
}
