@import '../config/mixins';
@import '../config/variables';

.formula {

  &__tabs-container {}

  &__tabs-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    border-top: 5px solid $gray-1;
    border-bottom: 5px solid $gray-1;
  }

  &__tabs-button {
    flex: 1;
    height: 8rem;
    background-color: $gray-2;
    text-align: center;
    display: inline-block;
    position: relative;

    &:after {
      display: block;
      content: '';
      border-top: solid 10px $gray-6;
      transform: scaleX(0);
      transition: transform .1s ease-in-out;
    }

    &:hover {
      background-color: $gray-3;
    }

    &:hover:after {
      transform: scaleX(1);
    }

    &.is-active {
      color: $blue-4;
    }

    &.is-active:after {
      border-top: solid 10px $blue-4;
      transform: scaleX(1) !important;
    }
  }

  &__tabs-button-link {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
  }

  &__tabs-button-link-text {
    font-size: 5rem;
    font-family: 'Roboto';
    font-weight: 100;

  }

  &__tabs-content-container {
    min-height: 100vh;
    padding: 5.5rem 0;

    background-color: $black-6;

    @include viewport-min($desktop) {

    }
  }


  &__tab-content {
    display: none;

    &.is-active {
      display: block;
    }
  }

  &__formula-section {
    padding: 3rem 0;

    font-size: inherit;
    text-align: center;

    @include viewport-min($mobile) {
      padding: 0 4.5rem;
    }

  }

  &__formula-section-grow-header {
    padding: 1.5rem 0;
    width: 50%;
    align-self: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .15rem;

    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAF0lEQVQImWNgQAILGf5vZsAGqChBOwAAeoAJTfR0/MoAAAAASUVORK5CYII=) repeat;
    border: 1px solid $purple-3;

    color: $blue-5;

  }

  &__formula-section-grow {
    display: flex;
    flex-direction: column;

    padding: 3rem 0;

    text-align: center;
    color: $blue-5;

    p {
      padding: 1.5rem 0;
      border: 1px solid $purple-3
    }

    p + p {
      border-top: none;
    }
  }

  &__formula-section-grow-text {
    padding: 1.5rem 0;

    h4 {
      padding: 2rem 0 1.25rem 0;
    }

    p {
      padding: 1.5rem 0;
      border: 1px solid $purple-3
    }
  }



  &__formula-section-shrink-header {
    padding: 1.5rem 0;
    width: 50%;
    align-self: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .15rem;

    color: $pink-2;

    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAF0lEQVQImWNgQAKxx35uZsAGqChBOwAAnx8LPVdV3HMAAAAASUVORK5CYII=) repeat;
    border: 1px solid $blue-5;

  }

  &__formula-section-shrink {
    display: flex;
    flex-direction: column;

    padding: 3rem 0;

    text-align: center;
    color: $pink-2;

    p {
      padding: 1.5rem 0;
      border: 1px solid $blue-5;
    }

    p + p {
      border-top: none;
    }
  }

  &__formula-section-shrink-text {
    padding: 1.5rem 0;

    h4 {
      padding: 2rem 0 1.25rem 0;
    }

    p {
      padding: 1.5rem 0;
      border: 1px solid $purple-3
    }
  }
}
