@import '../config/mixins';
@import '../config/variables';

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $pink-1;

  color: $black-6;

  @include viewport-min(62.5rem) {
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }

  &__title-advert-desktop {
    display: none;
    padding: 1%;

    @include viewport-min(62.5rem) {
      padding: 1%;
      display: block;
    }
  }

  &__title-advert-mobile {
    display: block;
    padding: .5%;

    @include viewport-min(62.5rem) {
      display: none;
    }
  }

  &__title-logo {
    justify-self: center;
    position: relative;

    width: 100%;
    max-width: 45%;
    height: 0;
    padding-top: 12.5%;


    @include viewport-min($mobile) {
      max-width: 32%;
      padding-top: 11%;
    }

    @include viewport-min($desktop) {
      max-width: 38%;
      padding-top: 15%;
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
      padding: 3% 0;

      @include viewport-min($mobile) {
        padding: 5% 0;
      }
    }
  }

  &__github-counter {
    position: relative;

    @include viewport-min($mobile) {
      position: absolute;
      padding: 0 1rem;
      right: 0;
      top: 1rem;
    }
  }

  &__message {
    display: flex;
    justify-content: center;

    padding: 2%;

    text-align: center;

    @include viewport-min(62.5rem) {
      display: none;
    }
  }
}
