body {
  font-family: "Consolas", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

h1 {
  font-family: 'Consolas', sans-serif;
  font-size: calc(55px + (85 - 55) * ((100vw - 300px) / (1600 - 300)));

  font-weight: 700;
  font-style: normal;
}

h2 {
  font-size: calc(32px + (46 - 32) * ((100vw - 300px) / (1600 - 300)));
}

h3 {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

h4 {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

p span {
  font-family: 'Consolas', sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: .15rem
}
